.style0 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 247px;
  margin-top: 107px;
  width: 654px;
  height: 426px;
  flex-direction: column
}
.style7 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  font-weight: 700;
  margin-left: 204px;
  margin-top: 40px;
  height: 28px
}
.style1 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 12px;
  margin-top: 56px;
  width: 253px;
  height: 31px
}
.style1,
.style3,
.style8 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  align-self: center
}
.style3 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 12px;
  width: 253px;
  margin-top: 30px;
  height: 31px
}
.style8 {
  color: #00000a;
  margin-top: 19px;
  height: 24px
}
.Logincontainer0row4 {
  display: flex;
  margin-left: 366px;
  margin-top: 40px;
  width: 201px;
  height: 31px;
  align-items: stretch
}
.style9 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 0
}
.style5 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 16px;
  width: 65px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style6 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.style10 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 247px;
  margin-top: 107px;
  width: 654px;
  height: 426px;
  flex-direction: column
}
.style15,
.style16 {
  font-family: BalsamiqSans,serif;
  margin-top: 40px
}
.style15 {
  font-weight: 700;
  font-size: 1.125em;
  margin-left: 204px;
  height: 28px
}
.style16 {
  font-size: .875em;
  margin-left: 117px;
  height: 24px
}
.style11,
.style13 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 31px
}
.style11 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px;
  align-self: center;
  margin-top: 43px;
  width: 253px
}
.style13 {
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 415px;
  margin-top: 118px;
  width: 152px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style14 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.style17 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 248px;
  margin-top: 212px;
  width: 654px;
  height: 782px;
  flex-direction: column
}
.style22,
.style23 {
  font-family: BalsamiqSans,serif;
  align-self: center
}
.style22 {
  font-weight: 700;
  font-size: 1.0625em;
  margin-top: 113px;
  height: 27px
}
.style23 {
  font-size: .875em;
  margin-top: 18px;
  height: 24px
}
.style18,
.style20 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style18 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 11px;
  width: 254px;
  height: 31px;
  align-self: center;
  margin-top: 62px
}
.style20 {
  margin-top: 26px
}
.style20,
.style26,
.style30 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 11px;
  width: 254px;
  height: 31px;
  align-self: center
}
.style26 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 27px
}
.style30 {
  margin-top: 25px
}
.style24,
.style28,
.style30,
.style32 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style28,
.style32 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 11px;
  align-self: center;
  margin-top: 26px;
  width: 254px;
  height: 31px
}
.style24 {
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 453px;
  margin-top: 146px;
  width: 122px;
  height: 39px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style25 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.style34 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 247px;
  margin-top: 107px;
  width: 654px;
  height: 426px;
  flex-direction: column
}
.style35,
.style39,
.style40 {
  font-family: BalsamiqSans,serif;
  align-self: center
}
.style39 {
  font-weight: 700;
  margin-top: 31px;
  height: 28px;
  font-size: 1.125em
}
.style35,
.style40 {
  font-size: .875em
}
.style40 {
  height: 24px;
  margin-top: 19px
}
.style35 {
  text-indent: 12px;
  margin-top: 62px;
  width: 253px
}
.style35,
.style37,
.style41 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 31px
}
.style37 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px;
  align-self: center;
  margin-top: 30px;
  width: 253px
}
.style41 {
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 454px;
  margin-top: 98px;
  width: 163px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style42 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.style43 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.Dashboardcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style50 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style45 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 959px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.Dashboardcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.style44 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 248px;
  height: 594px;
  flex-direction: column
}
.style46,
.style47,
.style48,
.style49 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style46,
.style47,
.style49 {
  margin-top: 19px
}
.style51 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.AccountSettingscontainer0row0 {
  display: flex;
  margin-left: 34px;
  width: 1145px;
  height: 69px;
  align-items: center
}
.style75 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style53 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 885px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.AccountSettingscontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.AccountSettingsrow1 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 899px;
  height: 594px
}
.style52 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style54,
.style55,
.style56,
.style57 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style54,
.style55,
.style57 {
  margin-top: 19px
}
.AccountSettingsrow1column1 {
  display: flex;
  margin-left: 64px;
  margin-top: 85px;
  width: 135px;
  height: 192px;
  flex-direction: column;
  justify-content: space-between
}
.style62,
.style63 {
  text-align: right;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 19px;
  height: 23px
}
.style64 {
  align-self: center
}
.style64,
.style65,
.style66 {
  text-align: right;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 23px
}
.style65 {
  margin-left: 19px
}
.style66 {
  align-self: stretch
}
.AccountSettingsrow1column2 {
  display: flex;
  margin-left: 9px;
  margin-top: 84px;
  width: 314px;
  height: 201px;
  flex-direction: column;
  justify-content: space-between
}
.style58,
.style60,
.style71 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px
}
.style58,
.style60 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 31px;
  width: 241px
}
.style71 {
  width: 100%
}
.style67,
.style69,
.style71,
.style73 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 31px
}
.style67,
.style69 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px;
  width: 241px
}
.style73 {
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 770px;
  margin-top: 357px;
  width: 129px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style74 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.style76 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.ProjectListcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style95 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style96 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 30px;
  width: 112px;
  height: 31px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style97 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.style78 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 838px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.ProjectListcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.ProjectListrow1 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1108px;
  height: 594px
}
.style77 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style79,
.style80,
.style81,
.style82 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style79,
.style80,
.style82 {
  margin-top: 19px
}
.ProjectListrow1column1 {
  display: flex;
  margin-left: 34px;
  margin-top: 55px;
  width: 826px;
  height: 269px;
  align-items: flex-end;
  flex-direction: column
}
.style94 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-top: 0;
  height: 24px
}
.style83 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-top: 19px;
  width: 100%;
  height: 82px;
  flex-direction: column;
  justify-content: center
}
.ProjectListrow1column1container3row0 {
  display: flex;
  margin-left: 45px;
  width: 762px;
  height: 28px;
  align-items: stretch
}
.style84,
.style85,
.style86,
.style87 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style85,
.style86,
.style87 {
  font-size: .875em;
  margin-left: 339px
}
.style86,
.style87 {
  margin-left: 28px
}
.style87 {
  margin-left: 23px
}
.style88 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-top: 17px;
  width: 100%;
  height: 82px;
  flex-direction: column;
  justify-content: center
}
.ProjectListrow1column1container4row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style89,
.style90 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style90 {
  font-size: .875em;
  margin-left: 342px
}
.style91 {
  margin-left: 34px
}
.style91,
.style92,
.style93 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em
}
.style92 {
  margin-left: 35px
}
.style93 {
  margin-top: 21px;
  height: 24px
}
.style98 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.ProjectViewcontainer0row0 {
  display: flex;
  margin-left: 34px;
  width: 1145px;
  height: 69px;
  align-items: center
}
.style107 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.ProjectViewcontainer0row0unsupported1 {
  margin-left: 19px;
  width: 37px;
  height: 37px
}
.style100 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 886px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.ProjectViewcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.ProjectViewrow1 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1156px;
  height: 594px
}
.style99 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style101,
.style102,
.style103,
.style104 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style101,
.style102,
.style104 {
  margin-top: 19px
}
.ProjectViewrow1column1 {
  position: relative;
  display: flex;
  margin-left: 3px;
  margin-top: 41px;
  width: 174px;
  height: 253px;
  flex-direction: column
}
.style108,
.style109 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  height: 33px;
  flex-shrink: 0
}
.style108 {
  margin-left: 36px;
  margin-top: 0
}
.style109 {
  margin-top: 2px
}
.style105 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 2257px 2257px 0 0 #000;
  position: relative;
  display: flex;
  margin-left: 23px;
  margin-top: 33px;
  width: 163px;
  height: 52px;
  align-items: stretch;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style106,
.style113 {
  font-family: BalsamiqSans,serif
}
.style106 {
  text-align: center;
  font-size: .875em;
  height: 15px
}
.style113 {
  font-size: 1.3125em;
  font-weight: 700;
  position: relative;
  margin-left: 17px;
  margin-top: 68px;
  height: 33px;
  flex-shrink: 0
}
.ProjectViewrow1column2 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 43px;
  width: 618px;
  height: 395px;
  flex-direction: column
}
.style110 {
  position: relative;
  margin-left: 136px;
  margin-top: 0
}
.style110,
.style111,
.style137 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  height: 33px;
  flex-shrink: 0
}
.style111 {
  margin-left: 136px;
  margin-top: 0
}
.style137 {
  font-weight: 700;
  position: relative;
  margin-top: 153px;
  align-self: flex-end
}
.ProjectViewrow1column2row3 {
  display: flex;
  margin-top: 19px;
  width: 886px;
  height: 31px;
  align-items: stretch;
  flex-shrink: 0
}
.style112 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row3container3row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style114,
.style115 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style114 {
  position: relative;
  margin-left: 0
}
.style115 {
  margin-left: 170px
}
.style125 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 203px;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row3container7row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style126,
.style127 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style126 {
  position: relative;
  margin-left: 0
}
.style127 {
  margin-left: 170px
}
.ProjectViewrow1column2row4 {
  display: flex;
  margin-top: 0;
  width: 886px;
  height: 31px;
  align-items: stretch;
  flex-shrink: 0
}
.style116 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row4container4row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style117,
.style118 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style117 {
  position: relative;
  margin-left: 0
}
.style118 {
  margin-left: 167px
}
.style128 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 203px;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row4container8row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style129,
.style130 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style129 {
  position: relative;
  margin-left: 0
}
.style130 {
  margin-left: 167px
}
.ProjectViewrow1column2row5 {
  display: flex;
  margin-top: 0;
  width: 886px;
  height: 31px;
  align-items: stretch;
  flex-shrink: 0
}
.style119 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row5container5row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style120,
.style121 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style120 {
  position: relative;
  margin-left: 0
}
.style121 {
  margin-left: 167px
}
.style131 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 203px;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row5container9row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style132,
.style133 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style132 {
  position: relative;
  margin-left: 0
}
.style133 {
  margin-left: 167px
}
.ProjectViewrow1column2row6 {
  display: flex;
  margin-top: 0;
  width: 886px;
  height: 31px;
  align-items: stretch;
  flex-shrink: 0
}
.style122 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row6container6row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style123,
.style124 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style123 {
  position: relative;
  margin-left: 0
}
.style124 {
  margin-left: 167px
}
.style134 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 203px;
  width: 342px;
  flex-direction: column
}
.ProjectViewrow1column2row6container10row0 {
  position: relative;
  display: flex;
  margin-left: 12px;
  width: 306px;
  height: 24px;
  align-items: stretch
}
.style135,
.style136 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  flex-shrink: 0
}
.style135 {
  position: relative;
  margin-left: 0
}
.style136 {
  margin-left: 167px
}
.style138 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.ProjectFormcontainer0row0 {
  display: flex;
  margin-left: 34px;
  width: 1145px;
  height: 69px;
  align-items: center
}
.style150 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style140 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 941px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.ProjectFormcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.ProjectFormrow1 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 828px;
  height: 594px
}
.style139 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style143 {
  color: #00000a;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style141,
.style142,
.style143,
.style144,
.style147 {
  font-family: BalsamiqSans,serif;
  font-size: .875em
}
.style141,
.style142,
.style144 {
  color: #00000a;
  margin-left: 30px;
  margin-top: 19px;
  height: 24px
}
.style147 {
  text-align: right;
  margin-left: 83px;
  margin-top: 85px;
  height: 23px
}
.style145,
.style148 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  height: 31px
}
.style145 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px;
  margin-left: 96px;
  margin-top: 84px;
  width: 241px
}
.style148 {
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 699px;
  margin-top: 171px;
  width: 129px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style149 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.style151 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.AssetSchemaListcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style169 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style153 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 904px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.AssetSchemaListcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.AssetSchemaListrow1 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1108px;
  height: 594px
}
.style152 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style154,
.style155,
.style156,
.style157 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style154,
.style155,
.style157 {
  margin-top: 19px
}
.AssetSchemaListrow1column1 {
  position: relative;
  display: flex;
  margin-left: 2px;
  margin-top: 9px;
  width: 826px;
  height: 315px;
  flex-direction: column
}
.style166 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-top: 2px;
  height: 24px;
  flex-shrink: 0
}
.AssetSchemaListrow1column1row0 {
  display: flex;
  margin-top: 0;
  width: 212px;
  height: 28px;
  align-items: stretch;
  flex-shrink: 0
}
.style167,
.style168 {
  font-family: BalsamiqSans,serif
}
.style168 {
  font-weight: 700;
  font-size: 1.125em;
  margin-left: 87px
}
.style167 {
  color: #00000a;
  font-size: .875em;
  margin-left: 2px
}
.AssetSchemaListrow1column1row1 {
  display: flex;
  margin-left: 33px;
  margin-top: 17px;
  width: 824px;
  height: 31px;
  align-items: center;
  flex-shrink: 0
}
.AssetSchemaListrow1column1row1unsupported1 {
  margin-left: 0;
  width: 96px;
  height: 100%
}
.style165 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 566px;
  height: 24px
}
.style158 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 12px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.AssetSchemaListrow1column1container3row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style159,
.style160 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style160 {
  font-size: .875em;
  margin-left: 608px
}
.style161 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 17px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.AssetSchemaListrow1column1container4row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style162,
.style163,
.style164 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style163,
.style164 {
  font-size: .875em;
  margin-left: 603px
}
.style164 {
  position: relative;
  margin-left: 694px;
  margin-top: 21px;
  height: 24px;
  flex-shrink: 0
}
.style170 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.AssetSchemaFormcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style188 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style172 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 904px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.AssetSchemaFormcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.AssetSchemaFormrow1 {
  position: relative;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 1108px;
  height: 594px
}
.style171 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style173,
.style174,
.style175,
.style176 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style173,
.style174,
.style176 {
  margin-top: 19px
}
.AssetSchemaFormrow1column1 {
  position: relative;
  display: flex;
  margin-left: 2px;
  margin-top: 9px;
  width: 826px;
  height: 315px;
  flex-direction: column
}
.style185 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-top: 2px;
  height: 24px;
  flex-shrink: 0
}
.AssetSchemaFormrow1column1row0 {
  display: flex;
  margin-top: 0;
  width: 212px;
  height: 28px;
  align-items: stretch;
  flex-shrink: 0
}
.style186,
.style187 {
  font-family: BalsamiqSans,serif
}
.style187 {
  font-weight: 700;
  font-size: 1.125em;
  margin-left: 87px
}
.style186 {
  color: #00000a;
  font-size: .875em;
  margin-left: 2px
}
.AssetSchemaFormrow1column1row1 {
  display: flex;
  margin-left: 33px;
  margin-top: 17px;
  width: 824px;
  height: 31px;
  align-items: center;
  flex-shrink: 0
}
.AssetSchemaFormrow1column1row1unsupported1 {
  margin-left: 0;
  width: 96px;
  height: 100%
}
.style184 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 566px;
  height: 24px
}
.style177 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 12px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.AssetSchemaFormrow1column1container3row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style178,
.style179 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style179 {
  font-size: .875em;
  margin-left: 608px
}
.style180 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 17px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.AssetSchemaFormrow1column1container4row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style181,
.style182,
.style183 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style182,
.style183 {
  font-size: .875em;
  margin-left: 603px
}
.style183 {
  position: relative;
  margin-left: 694px;
  margin-top: 21px;
  height: 24px;
  flex-shrink: 0
}
.style189 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.AssetListcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style205 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style191 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 999px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.AssetListcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.AssetListrow1,
.style190 {
  display: flex;
  margin-left: 0
}
.AssetListrow1 {
  position: relative;
  margin-top: 0;
  width: 1108px;
  height: 594px
}
.style190 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style192,
.style193,
.style194,
.style195 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style192,
.style193,
.style195 {
  margin-top: 19px
}
.AssetListrow1column1 {
  position: relative;
  display: flex;
  margin-left: 2px;
  margin-top: 9px;
  width: 826px;
  height: 315px;
  flex-direction: column
}
.style202 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-top: 2px;
  height: 24px;
  flex-shrink: 0
}
.AssetListrow1column1row0 {
  display: flex;
  margin-top: 0;
  width: 153px;
  height: 28px;
  align-items: stretch;
  flex-shrink: 0
}
.style203,
.style204 {
  font-family: BalsamiqSans,serif
}
.style204 {
  font-weight: 700;
  font-size: 1.125em;
  margin-left: 87px
}
.style203 {
  color: #00000a;
  font-size: .875em;
  margin-left: 2px
}
.AssetListrow1column1row1 {
  display: flex;
  margin-left: 33px;
  margin-top: 17px;
  width: 824px;
  height: 31px;
  align-items: center;
  flex-shrink: 0
}
.AssetListrow1column1row1unsupported1 {
  margin-left: 0;
  width: 96px;
  height: 100%
}
.AssetListrow1column1row1unsupported2 {
  margin-left: 12px;
  width: 91px;
  height: 100%
}
.style201 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 463px;
  height: 24px
}
.style196 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 12px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style197 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 45px;
  height: 28px
}
.style198 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 17px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.style199,
.style200 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 45px;
  height: 28px
}
.style200 {
  font-size: .875em;
  position: relative;
  margin-left: 694px;
  margin-top: 21px;
  height: 24px;
  flex-shrink: 0
}
.style206 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.AssetFormcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style224 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style208 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 904px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.AssetFormcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.AssetFormrow1,
.style207 {
  display: flex;
  margin-left: 0
}
.AssetFormrow1 {
  position: relative;
  margin-top: 0;
  width: 1108px;
  height: 594px
}
.style207 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style209,
.style210,
.style211,
.style212 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style209,
.style210,
.style212 {
  margin-top: 19px
}
.AssetFormrow1column1 {
  position: relative;
  display: flex;
  margin-left: 2px;
  margin-top: 9px;
  width: 826px;
  height: 315px;
  flex-direction: column
}
.style221 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-top: 2px;
  height: 24px;
  flex-shrink: 0
}
.AssetFormrow1column1row0 {
  display: flex;
  margin-top: 0;
  width: 212px;
  height: 28px;
  align-items: stretch;
  flex-shrink: 0
}
.style222,
.style223 {
  font-family: BalsamiqSans,serif
}
.style223 {
  font-weight: 700;
  font-size: 1.125em;
  margin-left: 87px
}
.style222 {
  color: #00000a;
  font-size: .875em;
  margin-left: 2px
}
.AssetFormrow1column1row1 {
  display: flex;
  margin-left: 33px;
  margin-top: 17px;
  width: 824px;
  height: 31px;
  align-items: center;
  flex-shrink: 0
}
.AssetFormrow1column1row1unsupported1 {
  margin-left: 0;
  width: 96px;
  height: 100%
}
.style220 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 566px;
  height: 24px
}
.style213 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 12px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.AssetFormrow1column1container3row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style214,
.style215 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style215 {
  font-size: .875em;
  margin-left: 608px
}
.style216 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 17px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.AssetFormrow1column1container4row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style217,
.style218,
.style219 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style218,
.style219 {
  font-size: .875em;
  margin-left: 603px
}
.style219 {
  position: relative;
  margin-left: 694px;
  margin-top: 21px;
  height: 24px;
  flex-shrink: 0
}
.style225 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.SpaceListcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style241 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style227 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 994px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.SpaceListcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.SpaceListrow1,
.style226 {
  display: flex;
  margin-left: 0
}
.SpaceListrow1 {
  position: relative;
  margin-top: 0;
  width: 1108px;
  height: 594px
}
.style226 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style228,
.style229,
.style230,
.style231 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style228,
.style229,
.style231 {
  margin-top: 19px
}
.SpaceListrow1column1 {
  position: relative;
  display: flex;
  margin-left: 2px;
  margin-top: 9px;
  width: 826px;
  height: 316px;
  flex-direction: column
}
.style238 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-top: 2px;
  height: 24px;
  flex-shrink: 0
}
.SpaceListrow1column1row0 {
  display: flex;
  margin-top: 0;
  width: 157px;
  height: 28px;
  align-items: stretch;
  flex-shrink: 0
}
.style239,
.style240 {
  font-family: BalsamiqSans,serif
}
.style240 {
  font-weight: 700;
  font-size: 1.125em;
  margin-left: 87px
}
.style239 {
  color: #00000a;
  font-size: .875em;
  margin-left: 2px
}
.SpaceListrow1column1row1 {
  display: flex;
  margin-left: 33px;
  margin-top: 17px;
  width: 824px;
  height: 31px;
  align-items: center;
  flex-shrink: 0
}
.SpaceListrow1column1row1unsupported1 {
  margin-left: 0;
  width: 96px;
  height: 100%
}
.style237 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 566px;
  height: 24px
}
.style232 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 13px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.SpaceListrow1column1container3row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style233,
.style242 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style242 {
  font-size: .875em;
  margin-left: 620px
}
.style234 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 17px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.SpaceListrow1column1container4row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style235,
.style236,
.style243 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style236,
.style243 {
  font-size: .875em;
  margin-left: 617px
}
.style236 {
  position: relative;
  margin-left: 694px;
  margin-top: 21px;
  height: 24px;
  flex-shrink: 0
}
.style244 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 0;
  margin-top: 2px;
  width: 1200px;
  height: 97px;
  flex-direction: column;
  justify-content: center
}
.SpaceFormcontainer0row0 {
  display: flex;
  margin-left: 35px;
  width: 1144px;
  height: 69px;
  align-items: center
}
.style262 {
  font-family: BalsamiqSans,serif;
  font-size: 1.3125em;
  font-weight: 700;
  margin-left: 0;
  height: 33px
}
.style246 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 904px;
  width: 66px;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center
}
.SpaceFormcontainer0row0container2unsupported0 {
  width: 56px;
  height: 56px
}
.SpaceFormrow1,
.style245 {
  display: flex;
  margin-left: 0
}
.SpaceFormrow1 {
  position: relative;
  margin-top: 0;
  width: 1108px;
  height: 594px
}
.style245 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 248px;
  height: 100%;
  align-self: stretch;
  flex-direction: column
}
.style247,
.style248,
.style249,
.style250 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 30px;
  margin-top: 73px;
  height: 24px
}
.style247,
.style248,
.style250 {
  margin-top: 19px
}
.SpaceFormrow1column1 {
  position: relative;
  display: flex;
  margin-left: 2px;
  margin-top: 9px;
  width: 826px;
  height: 315px;
  flex-direction: column
}
.style259 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-top: 2px;
  height: 24px;
  flex-shrink: 0
}
.SpaceFormrow1column1row0 {
  display: flex;
  margin-top: 0;
  width: 212px;
  height: 28px;
  align-items: stretch;
  flex-shrink: 0
}
.style260,
.style261 {
  font-family: BalsamiqSans,serif
}
.style261 {
  font-weight: 700;
  font-size: 1.125em;
  margin-left: 87px
}
.style260 {
  color: #00000a;
  font-size: .875em;
  margin-left: 2px
}
.SpaceFormrow1column1row1 {
  display: flex;
  margin-left: 33px;
  margin-top: 17px;
  width: 824px;
  height: 31px;
  align-items: center;
  flex-shrink: 0
}
.SpaceFormrow1column1row1unsupported1 {
  margin-left: 0;
  width: 96px;
  height: 100%
}
.style258 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 566px;
  height: 24px
}
.style251 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 12px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.SpaceFormrow1column1container3row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style252,
.style253 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style253 {
  font-size: .875em;
  margin-left: 608px
}
.style254 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 31px;
  margin-top: 17px;
  width: 826px;
  height: 82px;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center
}
.SpaceFormrow1column1container4row0 {
  display: flex;
  margin-left: 45px;
  width: 758px;
  height: 28px;
  align-items: stretch
}
.style255,
.style256,
.style257 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  margin-left: 0
}
.style256,
.style257 {
  font-size: .875em;
  margin-left: 603px
}
.style257 {
  position: relative;
  margin-left: 694px;
  margin-top: 21px;
  height: 24px;
  flex-shrink: 0
}
.style263,
.style268 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000
}
.style268 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  text-indent: 12px;
  margin-left: 938px;
  margin-top: 17px;
  width: 233px;
  height: 90px
}
.style263 {
  display: flex;
  margin-left: 247px;
  margin-top: 0;
  width: 654px;
  height: 426px;
  flex-direction: column
}
.style272 {
  font-family: BalsamiqSans,serif;
  font-size: 1.125em;
  font-weight: 700;
  margin-left: 204px;
  margin-top: 40px;
  height: 28px
}
.style264 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 12px;
  margin-top: 56px;
  width: 253px;
  height: 31px
}
.style264,
.style266,
.style273 {
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  align-self: center
}
.style266 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  text-indent: 12px;
  width: 253px;
  margin-top: 30px;
  height: 31px
}
.style273 {
  color: #00000a;
  margin-top: 19px;
  height: 24px
}
.LoginErrorcontainer0row4 {
  display: flex;
  margin-left: 366px;
  margin-top: 40px;
  width: 201px;
  height: 31px;
  align-items: stretch
}
.style274 {
  color: #00000a;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  margin-left: 0
}
.style270 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 16px;
  width: 65px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style271 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}
.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px
}
.style275 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  display: flex;
  margin-left: 247px;
  margin-top: 107px;
  width: 654px;
  height: 426px;
  flex-direction: column
}
.style278,
.style279 {
  font-family: BalsamiqSans,serif
}
.style278 {
  font-weight: 700;
  height: 28px;
  font-size: 1.125em;
  margin-left: 204px;
  margin-top: 40px
}
.style279 {
  font-size: .875em;
  margin-left: 156px;
  margin-top: 65px;
  width: 321px
}
.style276 {
  background-color: #fff;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-shadow: 2257px 2257px 0 0 #000;
  display: flex;
  margin-left: 511px;
  margin-top: 132px;
  width: 65px;
  height: 31px;
  align-items: stretch;
  flex-direction: column;
  justify-content: center
}
.style277 {
  text-align: center;
  font-family: BalsamiqSans,serif;
  font-size: .875em;
  height: 15px
}